.add-form {
  position: relative;
  display: flex;
  justify-content: center;
  transition: opacity 0.3s ease-in-out 0.05s;
  margin: 10px 0;
}
.add-form:hover {
  opacity: 1;
}
.force-visible {
  opacity: 1 !important;
}

.add-form .divider {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 2.5%;
  left: 2.5%;
  border-bottom: 1px solid gray;
  width: 90%;
}
.add-buttons {
  display: flex;
  justify-content: center;
  transition: opacity 0.8s ease-in-out 0.05s;
  z-index: 1;
}

.add-buttons:hover {
  opacity: 1;
}
.add-form .add-buttons button {
  margin: 0 20px;
}
