.btn-default {
  display: inline-block;
  color: #fff;
  background-color: #7971ea;
  border-color: #7971ea;
  border: 1px solid transparent;
  text-decoration: none;
  line-height: 1.5;
  border-radius: 0.2rem;
  font-size: 14px !important;
  padding: 10px 20px !important;
  cursor: pointer;
  text-transform: uppercase;
}
.btn-default:hover {
  box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
  top: -2px;
}

.btn-primary {
  width: 80%;
  border-radius: 50px;
  color: #fff;
  background-image: linear-gradient(to right, #7971ea, #f13e62);
  padding: 15px;
  cursor: pointer;
  border: none !important;
  margin-top: 40px;
  transition: all 0.3 ease-in-out;
}

.btn-primary:hover {
  color: #fff;
  background-image: linear-gradient(to right, #f13e62, #7971ea);
}
