.table {
  border-radius: 10px;
}

.ant-table-row {
  color: #653471;
  font-weight: 500;
  font-size: 13px;
  background: #c3ffc30f;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  margin-bottom: 5px;
}
.ant-layout-content {
  border-radius: 10px;
}
.product-name {
  cursor: pointer;
  transition: all 0.3 ease-in-out;
}
.product-name:hover {
  text-decoration: underline;
}
